@import "tailwindcss";

.gridCustom {
  position: relative;
  display: block;
  transform: none !important;
  break-inside: avoid;
  width: 100%;
  cursor: pointer !important;
}
.gridCustomMobile {
  position: relative;
  display: flex;
  transform: none !important;
  break-inside: avoid;
  width: 100%;
  cursor: pointer !important;
}
.transitionCustom {
  transition: 1s transform;
}
.shuffle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.scaleModal {
  width: 35vw;
}
.scaleModalVertical {
  width: 23vw;
}
.scaleModalVerticalMobile {
  width: 65vw;
  max-width: 20rem;
}
.imgChange {
  will-change: transform, opacity;
}
img {
  transition: opacity 0.5s ease-in-out;
}
p {
  font-family: var(--font-gt-america-mono);
  font-weight: 500;
}
.customWidth {
  width: 70vw;
}
.paddingTopCustomDesktopVerticalModal{
  padding-top: 7vh;
}
.customWidthDesktop {
  width: 45vw;
  max-width: 60rem;
}
.customWidthDesktopVertical {
  width: 25vw;
  max-width: 30rem;
}
.text-customMobile {
  font-size: 3vw;
}
.text-infoCustom {
  font-size: 2.2vw;
}
.text-infoCustomDesktop {
  font-size: 0.6vw;
}
.text-customModalMobile {
  font-size: 3.5vw;
}
.activeBtn {
  background-color: rgb(190, 190, 190);
}
.my-clock {
  background-color: rgb(190, 190, 190);
  border-radius: 50%;
}
.centeredMenu {
  top: 90%;
}
.generic1sTransition {
  transition: all 1s;
}
/* media query */
@media (min-width: 567px) {
  .customWidth {
    width: 50vw;
  }
  .text-infoCustom {
    font-size: 1.2vw;
  }
  .text-customModalMobile {
    font-size: 2.5vw;
  }
}
@media (min-width: 768px) {
  .customWidth {
    width: 40vw;
  }
  .text-customMobile {
    font-size: 2vw;
  }
  .text-infoCustom {
    font-size: 1vw;
  }
  .text-customModalMobile {
    font-size: 2vw;
  }
}
@media (min-width: 1024px) {
  .customWidth {
    width: 35vw;
  }
  .text-infoCustom {
    font-size: 0.8vw;
  }
  .text-customMobile {
    font-size: 1.5vw;
  }
}
@media (min-width: 1600px) {
  .text-infoCustomDesktop {
    font-size: 0.5vw;
  }
}
