@import "tailwindcss";

.gridCustom {
  position: relative;
  display: block;
  transform: none !important;
  break-inside: avoid;
  width: 100%;
  cursor: pointer !important;
}
.gridCustomMobile {
  position: relative;
  display: block;
  transform: none !important;
  break-inside: avoid;
  width: 100%;
  cursor: pointer !important;
}
.transitionCustom {
  transition: 1s transform;
}
.shuffle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.scaleModalVertical {
  width: 25vw;
}
.scaleModalVerticalMobile {
  width: 75vw;
}
